<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title index - miniProject
    // inject:css
    // endinject
  body
    h1 Hello Pug.js

    p(class="alert alert-danger text-uppercase") this is an alert
    // inject:js
    // endinject
